body {
    background-color: burlywood;
    padding: 50px;   
}

button {
    width: 100px;
}

.contenedor {
    background-color: bisque;
    width: 400px;
    
  
}

.carro {
    background-color: rgb(235, 103, 63);
    width: 400px;
}